body {
    font-family: 'Calibri', sans-serif;
    color: navy;
    
}

/* space between links in top menu*/
nav a {
    margin-right: 50px; 
}

h1 {
    color: navy;
    align-items: center;
}

h2 {
    margin-left: 60px;
    margin-right: 60px;
}

ul {
    margin-left: 60px;
    margin-right: 60px;
}

p{
    margin-left: 60px;
    margin-right: 60px;
}

img{
    margin: auto;
    display: block;

}

header{
    margin-left: 60px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
}

